@media (max-width: 600px) {
    
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f2f4f8;
      color: #333;
    }

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    }

    .logo {
        width: 7rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 0.8em;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


    main {
      padding: 50px 20px;
      max-width: 1000px;
      margin: auto;
    }

    h2 {
      margin-bottom: 15px;
      border-bottom: 3px solid var(--primary-color);
      display: inline-block;
    }

    section {
      margin-bottom: 50px;
    }

    p {
      font-size: var(--font-size);
      line-height: 1.8;
    }

    .team {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    }

    .member {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      padding: 15px;
      flex: 1 1 200px;
      display: flex;
      justify-content: space-around;
    }

    .member-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px
    }

    .member h3 {
      margin: 0;
      font-size: 1.2em;
      color: var(--primary-color);
    }

    .member h4 {
      color: var(--text-color);
    }

    [data-photo] {
      width: 130px;
      border-radius: 50%;
    }

    /* FOOTER */
    .footer {
      background-color: var(--primary-color);
      color: #fff;
      text-align: center;
      padding: 20px;
    }
}