body {
    font-family: sans-serif;
    background-color: #f2f4f8;
    color: #333;
} 

@media (max-width: 600px) {

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    }

    .logo {
        width: 7rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 0.8em;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


    main {
      padding: 50px 20px;
      max-width: 1000px;
      margin: auto;
    }

    h2 {
      margin-bottom: 15px;
      border-bottom: 3px solid var(--primary-color);
      display: inline-block;
    }

    section {
      margin-bottom: 50px;
    }

    p {
      font-size: var(--font-size);
      line-height: 1.8;
    }

    .team {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      flex-direction: column;
    }

    .member {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      flex: 1 1 180px;
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 330px;
      align-items: center;
    }

    .member-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      max-width: 45%;
    }

    .member h3 {
      margin: 0;
      font-size: 1.2em;
      color: var(--primary-color);
    }

    .member h4 {
      color: var(--text-color);
    }

    [data-photo] {
      width: 105px;
      border-radius: 50%;
    
    }

    /* FOOTER */
    .footer {
      background-color: var(--primary-color);
      color: #fff;
      text-align: center;
      padding: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* TABLETS */ 

  /* CONTAINER */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


  main {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p {
    font-size: var(--font-size);
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 170px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 450px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* TABLETS */ 

  /* CONTAINER */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
    }


  main {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p, h3, li{
    font-size: 1.2em;
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 60px 0 0 0;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    width: 350px;
    height: 190px;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 1441px) {
  /* TABLETS */ 
    p, li, i {
        font-size: 1.2em;
    }

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;

    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

  main {
    padding: 50px 20px;
    margin: auto;
    max-width: 1200px;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p, h3, li{
    font-size: 1.2em;
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 60px 0 0 0;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    width: 350px;
    height: 190px;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}