/* SMARTPHONES */

@media (max-width: 600px) {
    body {
        background-image: url('../../assets/img/background-forest.png');
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        background-size: cover;
        background-position: center;
        overflow-y: hidden      }
    
      .container {
        background-color: #fff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 400px;
        background: rgba(0,0,0,0.30);
      }
    
      .container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--primary-color);
        font-size: var(--h2-size);
      }
    
      .form-group {
        margin-bottom: 15px;
      }
    
      .form-group label {
        display: block;
        margin-bottom: 5px;
        color: var(--text-light-color);
        font-weight: 500;
      }
    
      .form-group input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
      }
    
      .form-group input:focus {
        outline: none;
        border-color: #2563eb;
      }
    
      .btn {
        width: 100%;
        padding: 12px;
        background-color: #2563eb;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
      }
    
      .btn:hover {
        background-color: #1d4ed8;
      }
    
      .footer {
        text-align: center;
        margin-top: 15px;
        color: var(--text-light-color);
        font-size: 0.9rem;
      }
    
      .footer a {
        color: var(--primary-color );
        text-decoration: none;
        font-weight: 500;
      }
    
      .footer a:hover {
        text-decoration: underline;
      }
}   

/* TABLETS */

@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-image: url('../../assets/img/background-forest.png');
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100dvh;
        background-size: cover;
        background-position: center;
        overflow-y: hidden      }
    
      .container {
        background-color: #fff;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 400px;
        background: rgba(0,0,0,0.30);
      }
    
      .container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--primary-color);
        font-size: var(--h2-size);
      }
    
      .form-group {
        margin-bottom: 15px;
      }
    
      .form-group label {
        display: block;
        margin-bottom: 5px;
        color: var(--text-light-color);
        font-weight: 500;
      }
    
      .form-group input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
      }
    
      .form-group input:focus {
        outline: none;
        border-color: #2563eb;
      }
    
      .btn {
        width: 100%;
        padding: 12px;
        background-color: #2563eb;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
      }
    
      .btn:hover {
        background-color: #1d4ed8;
      }
    
      .footer {
        text-align: center;
        margin-top: 15px;
        color: var(--text-light-color);
        font-size: 0.9rem;
      }
    
      .footer a {
        color: var(--primary-color );
        text-decoration: none;
        font-weight: 500;
      }
    
      .footer a:hover {
        text-decoration: underline;
      }
}   