body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
} 

#btn-menu {
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 600px) {

  p, li, label {
    font-size: 1em;
}   

.container-header {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.logo {
    width: 7rem;
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 140px;
    right: 0;
    background-color: var(--primary-color);
    height: 0;
    transition: .6s;
    flex-direction: column;
    color: var(--text-light-color);
    visibility: hidden;
    z-index: 1000;
    overflow-y: hidden;
}

.menu li {
    list-style: none;
    align-items: center;
}

.menu li a {
    padding: 1rem;
    margin: 20px ;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: var(--text-light-color);
    border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
}

#nav .menu li a:active {
    text-decoration: underline;
}

#nav.active .menu {
    height: calc(100vh - 140px);
    visibility: visible;
}


body.menu-open {
    overflow: hidden;
}

#btn-menu {
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

.hamburger {
    color: var(--text-light-color);
    border-top: 2px solid var(--text-light-color);
    width: 25px;
}

.hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
}

#nav.active .hamburger {
    border-top-color: transparent;
}

#nav.active .hamburger::before {
    transform: rotate(135deg);
}

#nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    position: relative;
}

    main {
      padding: 50px 20px;
      max-width: 1000px;
      margin: auto;
    }

    h2 {
      margin-bottom: 15px;
      border-bottom: 3px solid var(--primary-color);
      display: inline-block;
    }

    section {
      margin-bottom: 50px;
    }

    p {
      font-size: var(--font-size);
      line-height: 1.8;
    }

    .team {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      flex-direction: column;
    }

    .member {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      flex: 1 1 220px;
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 330px;
      align-items: center;
    }

    .member-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      max-width: 45%;
    }

    .member h3 {
      margin: 0;
      font-size: 1.2em;
      color: var(--primary-color);
    }

    .member h4 {
      color: var(--text-color);
    }

    .container-socials {
      display: flex;
      justify-content: start;
      gap: 5px;
    }

    .container-socials i {
      font-size: 1.1em;
    }

    [data-photo] {
      width: 105px;
      border-radius: 50%;
    
    }

    /* FOOTER */
    .footer {
      background-color: var(--primary-color);
      color: #fff;
      text-align: center;
      padding: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* TABLETS */ 

  p, li, label {
    font-size: 1em;
}   

.container-header {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.logo {
    width: 7rem;
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 140px;
    right: 0;
    background-color: var(--primary-color);
    height: 0;
    transition: .6s;
    flex-direction: column;
    color: var(--text-light-color);
    visibility: hidden;
    z-index: 1000;
    overflow-y: hidden;
}

.menu li {
    list-style: none;
    align-items: center;
}

.menu li a {
    padding: 1rem;
    margin: 20px ;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: var(--text-light-color);
    border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
}

#nav .menu li a:active {
    text-decoration: underline;
}

#nav.active .menu {
    height: calc(100vh - 140px);
    visibility: visible;
}


body.menu-open {
    overflow: hidden;
}

#btn-menu {
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

.hamburger {
    color: var(--text-light-color);
    border-top: 2px solid var(--text-light-color);
    width: 25px;
}

.hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
}

#nav.active .hamburger {
    border-top-color: transparent;
}

#nav.active .hamburger::before {
    transform: rotate(135deg);
}

#nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    position: relative;
}

  main {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p {
    font-size: var(--font-size);
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1 1 170px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 400px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  .container-socials {
    display: flex;
    justify-content: start;
    gap: 5px;
  }

  .container-socials i {
    font-size: 1.1em;
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* TABLETS */ 


  .container-header {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    gap: 1em;
  }

  /* CONTAINER */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-around;

    align-items: center;
    gap: 20rem;
    }


  main {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p, h3, li{
    font-size: 1.2em;
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 60px 0 0 0;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    width: 370px;
    height: 230px;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  .container-socials {
    display: flex;
    justify-content: start;
    gap: 5px;
  }

  .container-socials i {
    font-size: 1.2em;
    cursor: pointer;
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
}

@media (min-width: 1441px) {
  /* TABLETS */ 
    p, li, i {
        font-size: 1.2em;
    }

    .container-header {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center ;
      justify-content: space-between;
      gap: 1em;
  }

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;

    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

  main {
    padding: 50px 20px;
    margin: auto;
    max-width: 1200px;
  }

  h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--primary-color);
    display: inline-block;
  }

  section {
    margin-bottom: 50px;
  }

  p, h3, li{
    font-size: 1.2em;
    line-height: 1.8;
  }

  .team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 60px 0 0 0;
  }

  .member {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    width: 370px;
    height: 230px;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .member-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 45%;
  }

  .member h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
  }

  .member h4 {
    color: var(--text-color);
  }

  .container-socials {
    display: flex;
    justify-content: start;
    gap: 5px;
  }

  .container-socials i {
    font-size: 1.2em;
    cursor: pointer;
  }

  [data-photo] {
    width: 130px;
    border-radius: 50%;
  
  }

  /* FOOTER */
  .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}