body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btn-menu {
    display: none;
  }
  
  .menu {
    display: none;
  }
  
  @media (max-width: 600px) {
  
    p, li, label {
      font-size: 1em;
  }   
  
  .container-header {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      justify-content: space-between;
      align-items: center;
  }
  
  /* CONTAINER */
  .container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
  }
  
  .logo {
      width: 7rem;
  }
  
  /* NAVBAR */
  .navbar {
      background-color: var(--primary-color);
      padding: 20px 0;
  }
  
  .menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 140px;
      right: 0;
      background-color: var(--primary-color);
      height: 0;
      transition: .6s;
      flex-direction: column;
      color: var(--text-light-color);
      visibility: hidden;
      z-index: 1000;
      overflow-y: hidden;
  }
  
  .menu li {
      list-style: none;
      align-items: center;
  }
  
  .menu li a {
      padding: 1rem;
      margin: 20px ;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      color: var(--text-light-color);
      border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
  }
  
  #nav .menu li a:active {
      text-decoration: underline;
  }
  
  #nav.active .menu {
      height: calc(100vh - 140px);
      visibility: visible;
  }
  
  
  body.menu-open {
      overflow: hidden;
  }
  
  #btn-menu {
      display: flex;
      padding: .5rem 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
  }
  
  .hamburger {
      color: var(--text-light-color);
      border-top: 2px solid var(--text-light-color);
      width: 25px;
  }
  
  .hamburger::after, .hamburger::before {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
  }
  
  #nav.active .hamburger {
      border-top-color: transparent;
  }
  
  #nav.active .hamburger::before {
      transform: rotate(135deg);
  }
  
  #nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
      position: relative;
  }
     
    label {
        font-size: var(--font-size);
        line-height: 1.8;
        font-weight: bold;
    }            

    h2 {
        border-bottom: 3px solid var(--primary-color);
        max-width: 250px;
        display: inline-block;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 310px;
        height: 65%;
        margin: 50px auto ;
    }

    input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
        font-size: 1.1em;
    }
   
    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-verify {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .logo {
        width: 7rem;
    }


    .form-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
        font-size: 1.1em;
    }
    
      .btn:hover {
        background-color: var(--dark-color);
      }

      .result {
        max-width: 300px;
        display: flex;
        justify-content: center;
        font-size: var(--font-size);
        flex-direction: column;
        gap: 1em;
    }

    .result p {
        font-size: 1em;
    }
    
    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {
    
    p, li, label {
        font-size: 1em;
    }   
    
    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
    }
    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    .logo {
        width: 7rem;
    }
    
    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 130px;
        right: 0;
        background-color: var(--primary-color);
        height: 0;
        transition: .6s;
        flex-direction: column;
        color: var(--text-light-color);
        visibility: hidden;
        z-index: 1000;
        overflow-y: hidden;
    }
    
    .menu li {
        list-style: none;
        align-items: center;
    }
    
    .menu li a {
        padding: 1rem;
        margin: 10px;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        color: var(--text-light-color);
        border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
    }
    
    #nav .menu li a:active {
        text-decoration: underline;
    }
    
    #nav.active .menu {
        height: calc(100vh - 130px);
        visibility: visible;
    }
    
    
    body.menu-open {
        overflow: hidden;
    }
    
    #btn-menu {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    
    .hamburger {
        color: var(--text-light-color);
        border-top: 2px solid var(--text-light-color);
        width: 25px;
    }
    
    .hamburger::after, .hamburger::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    
    #nav.active .hamburger {
        border-top-color: transparent;
    }
    
    #nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    
    #nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        position: relative;
    }

    label {
        font-size: var(--font-size);
        line-height: 1.8;
        font-weight: bold;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        display: inline-block;
        max-width: 250px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 360px;
        margin: auto;
        padding: 60px 20px;
    }
    input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
        font-size: 1.1em;
    }
   
    /* CONTAINER */
    .container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .logo {
        width: 8rem;
    }

    .container-verify {
        width: 100%;
        max-width: 450px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
      }
    
      .btn:active {
        background-color: var(--dark-color);
      }
    
    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .result {
        max-width: 360px;
        display: flex;
        justify-content: end;
        font-size: 1.1em;
        flex-direction: column;
        gap: 1em;
    }

    .footer .container {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    
    p, li, button{
        font-size: 1.2em;
    }
    
    label {
        font-size: 1.2em;
        line-height: 1.8;
        font-weight: bold;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        display: inline-block;
        max-width: 250px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 440px;
        margin: auto;
        padding: 60px 20px;
    }
    input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
        font-size: 1.2em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
      }
   
    /* CONTAINER */
    .container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }

    .navbar nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .navbar nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .navbar nav ul li a:hover {
        text-decoration: underline;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-verify {
        width: 100%;
        max-width: 450px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
      }
    
      .btn:active {
        background-color: var(--dark-color);
      }
    
    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .result {
        max-width: 400px;
        display: flex;
        justify-content: end;
        font-size: 1.2em;
        flex-direction: column;
        gap: 1em;
    }

    .result p{
        font-size: 1em;
        
    }

    .footer .container {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1441px) {
    
    p, li, button{
        font-size: 1.2em;
    }
    
    label {
        font-size: 1.2em;
        line-height: 1.8;
        font-weight: bold;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        display: inline-block;
        max-width: 250px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 490px;
        padding: 60px 20px;
    }
    input {
        width: 100%;
        padding: 10px 14px;
        border: 1px solid #cbd5e1;
        border-radius: 10px;
        background-color: #f8fafc;
        transition: border-color 0.3s;
        font-size: 1.2em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
      }
   
    /* CONTAINER */
    .container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }

    .navbar nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .navbar nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .navbar nav ul li a:hover {
        text-decoration: underline;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-verify {
        width: 100%;
        max-width: 450px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;
      }
    
      .btn:active {
        background-color: var(--dark-color);
      }
    
    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .result {
        max-width: 400px;
        display: flex;
        justify-content: end;
        font-size: 1.2em;
        flex-direction: column;
        gap: 1em;
    }

    .result p{
        font-size: 1em;
        
    }

    .footer .container {
        display: flex;
        justify-content: center;
    }

}

