
.container{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.container-support{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-support i {
    font-size: 2rem;
    color: var(--primary-color);
}