body {
    font-family: sans-serif;
    background-color: #f2f4f8;
    color: #333;
} 

#btn-menu {
    display: none;
}

.menu {
    display: none;
}

@media (max-width: 600px) {

    p, li, label {
        font-size: 1em;
    }   

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
    }

    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .logo {
        width: 7rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 140px;
        right: 0;
        background-color: var(--primary-color);
        height: 0;
        transition: .6s;
        flex-direction: column;
        color: var(--text-light-color);
        visibility: hidden;
        z-index: 1000;
        overflow-y: hidden;
    }
    
    .menu li {
        list-style: none;
        align-items: center;
    }
    
    .menu li a {
        padding: 1rem;
        margin: 20px ;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        color: var(--text-light-color);
        border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
    }
    
    #nav .menu li a:active {
        text-decoration: underline;
    }
    
    #nav.active .menu {
        height: calc(100vh - 140px);
        visibility: visible;
    }


    body.menu-open {
        overflow: hidden;
    }

    #btn-menu {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburger {
        color: var(--text-light-color);
        border-top: 2px solid var(--text-light-color);
        width: 25px;
    }

    .hamburger::after, .hamburger::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }

    #nav.active .hamburger {
        border-top-color: transparent;
    }

    #nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        position: relative;
    }


    /* HERO */
    .hero {
    padding: 80px 0;
    background-color: var(--secondary-color);

    }

    .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    .hero-text {
    max-width: 600px;
    }

    .hero-text h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .hero-text p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: var(--text-color);
    }

    .btn {
        font-size: var(--font-size);
    }

    .hero-text h2 span p {
        display: inline;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        color: var(--text-light-color);
        margin-bottom: 20px;
        }

    .hero-text h2 span  {
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .btn {
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    }

    .btn:hover {
    background-color: var(--dark-color);
    }

    .hero-image img {
    max-width: 400px;
    width: 100%;
    }

    /* SOBRE */
    .about {
    background-color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    }

    .about .container p {
       color: var(--text-color);
       font-size: 1.1em;
    }

    .list {
        display: flex;
        justify-content: center;
        padding: 60px 20px;
        background-color: #f9f9f9;
    }

    .list h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .list h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #023e8a;
    }

    .list p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-bottom: 20px;
    color: var(--text-color);
    }

    .list ul {
    list-style: none;
    padding-left: 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


    .list ul li {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 1.1em;
    transform: transform 0.2s ease-in-out;
    }

    .list ul li:active {
        transform: scale(1.025);
        transition: 0.3s ease-in-out;
    }

    /* FOOTER */
    .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    }

}

@media (min-width: 601px) and (max-width: 1024px) {

    p, li, label {
        font-size: 1em;
    }   

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
    }

    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .logo {
        width: 7rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 140px;
        right: 0;
        background-color: var(--primary-color);
        height: 0;
        transition: .6s;
        flex-direction: column;
        color: var(--text-light-color);
        visibility: hidden;
        z-index: 1000;
        overflow-y: hidden;
    }
    
    .menu li {
        list-style: none;
        align-items: center;
    }
    
    .menu li a {
        padding: 1rem;
        margin: 20px ;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        color: var(--text-light-color);
        border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
    }
    
    #nav .menu li a:active {
        text-decoration: underline;
    }
    
    #nav.active .menu {
        height: calc(100vh - 140px);
        visibility: visible;
    }


    body.menu-open {
        overflow: hidden;
    }

    #btn-menu {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .hamburger {
        color: var(--text-light-color);
        border-top: 2px solid var(--text-light-color);
        width: 25px;
    }

    .hamburger::after, .hamburger::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }

    #nav.active .hamburger {
        border-top-color: transparent;
    }

    #nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        position: relative;
    }

    /* HERO */
    .hero {
    background-color: var(--secondary-color);
    padding: 80px 0;
    }

    .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    }

    .hero-text {
    max-width: 45%;
    }

    .hero-text h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .hero-text p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: var(--text-color);
    }

    .hero-text h2 span p {
        display: inline;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        color: var(--text-light-color);
        margin-bottom: 20px;
        }

    .hero-text h2 span  {
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .btn {
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    font-size: var(--font-size);
    }

    .btn:hover {
    background-color: var(--dark-color);
    }

    .hero-image img {
    max-width: 400px;
    width: 100%;
    }

    /* SOBRE */
    .about {
    background-color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    }

    .about .container {
        display: flex;
        flex-direction: column;
    }

     .about .container p {
       color: var(--text-color);
       font-size: 1.1em;
    }


    .list {
        display: flex;
        justify-content: center;
        padding: 60px 20px;
        background-color: #f9f9f9;
    }

    .list h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .list h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #023e8a;
    }

    .list p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-bottom: 20px;
    color: var(--text-color);
    }

    .list ul {
    list-style: none;
    padding-left: 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


    .list ul li {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 1.1em;
    width: 100%;
    }

    .list ul li:active {
        transform: scale(1.025);
        transition: 0.3s ease-in-out;
    }

    /* FOOTER */
    .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {

    p, li, i {
        font-size: 1em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
    }

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
    }

    /* HERO */
    .hero {
    background-color: var(--secondary-color);
    padding: 80px 0;
    }

    .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    }

    .hero-text {
    max-width: 50%;
    }

    .hero-text h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: var(--text-color);
    }

    .hero-text h2 span p {
        display: inline;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        color: var(--text-light-color);
        margin-bottom: 20px;
        }

    .hero-text h2 span  {
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .btn {
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    font-size: 1.2em;
    }

    .btn:hover {
    background-color: var(--dark-color);
    }

    .hero-image img {
    max-width: 400px;
    width: 100%;
    }

    /* SOBRE */
    .about {
    background-color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
    }

     .about .container p {
       color: var(--text-color);
       font-size: 1.2em;
    }


    .list {
        display: flex;
        justify-content: center;
        padding: 60px 20px;
        background-color: #f9f9f9;
    }

    .list h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .list h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #023e8a;
    }

    .list p {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 20px;
    color: var(--text-color);
    }

    .list ul {
    list-style: none;
    padding-left: 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


    .list ul li {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 1.2em;
    width: 100%;
    }

    .list ul li:hover {
        transform: scale(1.025);
        transition: 0.3s ease-in-out;
    }

    /* FOOTER */
    .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 1441px) {

    p, li, i {
        font-size: 1.2em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
    }

    /* CONTAINER */
    .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    }

    .navbar nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .navbar nav ul li a:hover {
    text-decoration: underline;
    }

    .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    /* HERO */
    .hero {
    background-color: var(--secondary-color);
    padding: 80px 0;
    }

    .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: no-wrap;
    }

    .hero-text {
    max-width: 50%;
    }

    .hero-text h2 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .hero-text h2 span p {
        display: inline;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        background-color: var(--primary-color);
        color: var(--text-light-color);
        margin-bottom: 20px;
        }

    .hero-text h2 span  {
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .hero-text p {
    margin-bottom: 30px;
    color: var(--text-color);
    }

    .btn {
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    font-size: 1.2em;
    }

    .btn:hover {
    background-color: var(--dark-color);
    }

    .hero-image img {
    max-width: 400px;
    width: 100%;
    }

    /* SOBRE */
    .about {
    background-color: #f9f9f9;
    padding: 60px 20px;
    display: flex;
    }

    .about .container {
        display: flex;
        flex-direction: column;
    }

     .about .container p {
       color: var(--text-color);
    }


    .list {
        display: flex;
        justify-content: center;
        padding: 60px 20px;
        background-color: #f9f9f9;
    }

    .list h2 {
    font-size: var(--h2-size);
    color: var(--primary-color);
    margin-bottom: 20px;
    }

    .list h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #023e8a;
    }

    .list p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-bottom: 20px;
    color: #555;
    }

    .list ul {
    list-style: none;
    padding-left: 0;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }


    .list ul li {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-size: 1.2em;
    width: 100%;
    }

    .list ul li:hover {
        transform: scale(1.025);
        transition: 0.3s ease-in-out;
    }

    /* FOOTER */
    .footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
