body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    color: #333;
}


#btn-menu {
    display: none;
  }
  
  .menu {
    display: none;
  }
  
  @media (max-width: 600px) {
  
    p, li, label {
      font-size: 1em;
  }   
  
  .container-header {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      justify-content: space-between;
      align-items: center;
  }
  
  /* CONTAINER */
  .container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
  }
  
  .logo {
      width: 7rem;
  }
  
  /* NAVBAR */
  .navbar {
      background-color: var(--primary-color);
      padding: 20px 0;
  }
  
  .menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 140px;
      right: 0;
      background-color: var(--primary-color);
      height: 0;
      transition: .6s;
      flex-direction: column;
      color: var(--text-light-color);
      visibility: hidden;
      z-index: 1000;
      overflow-y: hidden;
  }
  
  .menu li {
      list-style: none;
      align-items: center;
  }
  
  .menu li a {
      padding: 1rem;
      margin: 20px ;
      font-size: 1.1em;
      display: block;
      text-decoration: none;
      color: var(--text-light-color);
      border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
  }
  
  #nav .menu li a:active {
      text-decoration: underline;
  }
  
  #nav.active .menu {
      height: calc(100vh - 140px);
      visibility: visible;
  }
  
  
  body.menu-open {
      overflow: hidden;
  }
  
  #btn-menu {
      display: flex;
      padding: .5rem 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: .5rem;
  }
  
  .hamburger {
      color: var(--text-light-color);
      border-top: 2px solid var(--text-light-color);
      width: 25px;
  }
  
  .hamburger::after, .hamburger::before {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .3s;
  }
  
  #nav.active .hamburger {
      border-top-color: transparent;
  }
  
  #nav.active .hamburger::before {
      transform: rotate(135deg);
  }
  
  #nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
      position: relative;
  }
    main {
        padding: 50px 20px;
        max-width: 350px;
        margin: auto;
        padding: 60px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        max-width: 250px;
        display: inline-block;
    }

    section {
        margin-bottom: 50px;
    }

    p, label, select, button{
        font-size: var(--font-size);
        line-height: 1.8;
    }

    .container-form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .question {
        display: flex;
        flex-direction: column;
    }

    .question label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .question select, 
    .question input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .btn:active {
        background-color: var(--dark-color);
    }

    .result {
        margin-top: 30px;
        padding: 20px;
        border-radius: 12px;
        display: block;
    }

    .result h3 {
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    p, li, label {
        font-size: 1em;
    }   
    
    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
    }
    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    
    .logo {
        width: 8rem;
    }
    
    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }
    
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 130px;
        right: 0;
        background-color: var(--primary-color);
        height: 0;
        transition: .6s;
        flex-direction: column;
        color: var(--text-light-color);
        visibility: hidden;
        z-index: 1000;
        overflow-y: hidden;
    }
    
    .menu li {
        list-style: none;
        align-items: center;
    }
    
    .menu li a {
        padding: 1rem;
        margin: 10px;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        color: var(--text-light-color);
        border-bottom: 1px solid rgba(240, 240, 240, 0.2); 
    }
    
    #nav .menu li a:active {
        text-decoration: underline;
    }
    
    #nav.active .menu {
        height: calc(100vh - 130px);
        visibility: visible;
    }
    
    
    body.menu-open {
        overflow: hidden;
    }
    
    #btn-menu {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    
    .hamburger {
        color: var(--text-light-color);
        border-top: 2px solid var(--text-light-color);
        width: 25px;
    }
    
    .hamburger::after, .hamburger::before {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    
    #nav.active .hamburger {
        border-top-color: transparent;
    }
    
    #nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    
    #nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        position: relative;
    }

    main {
        padding: 50px 20px;
        max-width: 400px;
        margin: auto;
        padding: 60px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        max-width: 220px;
        display: inline-block;
    }


    p {
        line-height: 1.8;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .question {
        display: flex;
        flex-direction: column;
    }

    .question label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .question select, 
    .question input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
        font-size: var(--font-size)
    }

    .btn:active {
        background-color: var(--dark-color);
    }

    .result {
        margin-top: 30px;
        padding: 20px;
        border-radius: 12px;
        display: block;
    }



    .result h3 {
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        display: flex;
        margin: 0 auto;
        padding: 20px;
    }

    .footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {

    p, li, label, button {
        font-size: 1.2em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
      }

    /* CONTAINER */
    .container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .logo {
        width: 8rem;
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--primary-color);
        padding: 20px 0;
    }

    .navbar nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .navbar nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .navbar nav ul li a:hover {
        text-decoration: underline;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        padding: 50px 20px;
        max-width: 440px;
        margin: auto;
        padding: 60px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        max-width: 290px;
        display: inline-block;
    }

    section {
        margin-bottom: 50px;
    }

    p {
        font-size: var(--font-size);
        line-height: 1.8;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .question {
        display: flex;
        flex-direction: column;
    }

    .question label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .container-form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .question select, 
    .question input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .btn:hover {
        background-color: var(--dark-color);
    }

    .result {
        margin-top: 30px;
        padding: 20px;
        border-radius: 12px;
        display: block;
    }



    .result h3 {
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        padding: 8px 0;
    }

    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }
}

@media (min-width: 1441px) {

    p, li, label, button {
        font-size: 1.2em;
    }

    .container-header {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 1em;
      }

    /* CONTAINER */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 1em;
        }
    
        .logo {
            width: 8rem;
        }
    
        /* NAVBAR */
        .navbar {
            background-color: var(--primary-color);
            padding: 20px 0;
        }
        
        .navbar nav ul {
        list-style: none;
        display: flex;
        gap: 30px;
        }
    
        .navbar nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
        }
    
        .navbar nav ul li a:hover {
        text-decoration: underline;
        }
    
        .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

    main {
        padding: 50px 20px;
        max-width: 490px;
        margin: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 2em;
    }

    h2 {
        margin-bottom: 15px;
        border-bottom: 3px solid var(--primary-color);
        max-width: 290px;
        display: inline-block;
    }

    section {
        margin-bottom: 50px;
    }

    p {
        line-height: 1.8;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-form {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .question {
        display: flex;
        flex-direction: column;
    }

    .question label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .question select, 
    .question input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 12px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
        margin-top: 10px
    }

    .btn:active {
        background-color: var(--dark-color);
    }

    .result {
        margin-top: 30px;
        padding: 20px;
        border-radius: 12px;
        display: block;
    }

    .result h3 {
        margin-bottom: 10px;
        color: var(--primary-color);
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li {
        padding: 8px 0;
    }

    /* FOOTER */
    .footer {
        background-color: var(--primary-color);
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
